<div class="top-wrapper text-center">
  <div class="conteriner top-container">

      <h1 class="top-text">Schedule-Note2</h1>
      <h2 class="top-text">Log in?/Sign in</h2>

      <% if logged_in? %>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <%= link_to 'Sign up', new_user_path , class: 'btn btn-block' %>
          </div>
          <div class="col-md-3">
            <%= link_to 'Log in', sessions_new_path, class:'btn btn-block' %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-3">
            <%= link_to 'project',projects_index_path %>
          </div>
          <div class="col-md-3">
            <%= link_to 'calender',calender_index_path %>
          </div>
          <div class="col-md-3">
            <%= link_to 'notification',notification_index_path %>
          </div>
        </div>
      <% end %>
  </div>
</div>
