progress#edit
<div class="container">
  <h1 class="progress_top text-center">進捗編集フォーム</h1>
  <div class="row">
    <div class="progress-new-container">
      <%= form_for [@project,@progress] do |f| %>
        <div class="form-gruop">
          <%= f.label :title, class: "text-white" %>
          <%= f.text_field :title, class: "form_control" %>
        </div>

        <div class="form-gruop">
          <%= f.label :file, class: "text-white" %>
          <%= f.file_field :file %>
        </div>

        <div class="form-gruop">
          <%= f.label :article, class: "text-white" %>
          <%= f.text_field :article, class: "form_control" %>
        </div>

        <div class="form-gruop">
          <%= f.label :other, class: "text-white" %>
          <%= f.text_field :other, class: "form_control" %>
        </div>

        <%= f.submit "投稿する", class: 'btn btn-black btn-block' %>
      <% end %>
    </div>
  </div>
</div>
