topic#edit
<div class="container">
  <div class="row">
    <div class="topic-new-container">
      <h1 class="topic-new-head text-center">記事編集画面</h1>
      <%= form_for [@project,@topic] do |f| %>
        <div class="form-group">
          <%= f.label :title, class: 'text-white' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :file, class: 'text-white' %>
          <%= f.file_field :file %>
        </div>

        <div class="form-group">
          <%= f.label :article, class: 'text-white' %>
          <%= f.text_field :article, class: 'form-control' %>
        </div>

        <%= f.submit "更新する", class: 'btn btn-black btn-block' %>
      <% end %>
    </div>
  </div>
</div>
