topic#index
<h1 class="topic-index">記事一覧</h1>
<%= link_to 'topic_new', new_project_topic_path(project_id: params[:project_id]) %>
<% @topics.each do |topic| %>
  <p>
    <%= topic.title %>
    <button type="button" class:'btn btn-white'>
      <%= link_to '編集する', edit_project_topic_path(project_id: params[:project_id],id: topic.id) %>
    </button>
    <%= link_to project_topic_path(project_id: params[:project_id], id: topic.id), method: :delete do %>
      <button type="button" class: 'btn btn-white'>削除する</button>
    <% end %>
  </p>
  <p>
    <%= link_to 'topic_comments', new_project_topic_topic_comment_path(project_id: params[:project_id],topic_id: topic.id) %>
    <% topic.topic_comments.each do |comment| %>
      <%= comment.body %>
    <% end %>
  </p>
<% end %>
