<h1 class="suchedule">作成したスケジュール</h1>
<p id="notice"><%= notice %></p>
<h2>イベント詳細ページ</h2>
<p>
<%= @event.project.title %>
</p>

<p>
  <strong>Project NO.:</strong>
  <%= @event.project_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>


<h2>案件スケジュール一覧</h2>
  <% @event.project.events.each do |show| %>
  <p>

    <%= show.title %>
    <%= show.description %>
    <%= show.start_date %>
    <%= show.end_date %>
  </p>
  <% end %>


<%= link_to '編集する', edit_event_path(@event) %>|
<%= link_to 'カレンダー画面に戻る', events_path(@events) %>
