<!DOCTYPE html>
<html>
  <head>
    <title>SchduleNote2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- アラートの実装 -->
    <% flash.each do |key,value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <!--ナビゲーションバー実装 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag "comment.png", class:"navbar-brand" %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to 'projects-new', projects_new_path %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= "logout" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to projects_show_path do %>
                <%= "pro" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
